{"openapi":"3.1.0","info":{"title":"Testimonial & Ask Application API","description":"REST API documentation for Testimonial & Ask - Production Environment","contact":{"name":"Testimonial & Ask Admin","email":"webarya.info@gmail.com"},"version":"1.0.0"},"servers":[{"url":"https://api.astarclasses.com","description":"Production Server"},{"url":"http://93.127.194.118:9014","description":"VPS Direct Access"},{"url":"http://localhost:8080","description":"Local Development"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Admin - Testimonials","description":"Admin endpoints to moderate testimonials"},{"name":"Admin Answer","description":"Admin endpoints for managing user answers"},{"name":"Public Blog Interactions","description":"Endpoints for blog comments and likes/dislikes"},{"name":"Teachers","description":"Public endpoints to list active teachers"},{"name":"Admin Authentication","description":"Admin login and password reset via OTP"},{"name":"Admin Demo Settings","description":"Endpoints for admin to manage demo boards, grades, and schedules"},{"name":"Account","description":"Logged-in user endpoints"},{"name":"Public Blog Submission","description":"Endpoints for guest blog submission with email OTP verification"},{"name":"Admin Comment Moderation","description":"Admin endpoints for reviewing blog comments"},{"name":"Admin - Teachers","description":"Admin endpoints for full teacher CRUD"},{"name":"Public Contact Us","description":"Endpoints for the Send Us a Message form"},{"name":"Admin Blog Moderation","description":"Admin endpoints for blog approval, rejection, editing, and management"},{"name":"Category (Public)","description":"Public endpoints for retrieving Q&A categories"},{"name":"Media Upload","description":"Secure Direct-to-Cloudinary (Signed Upload) endpoints"},{"name":"Admin Category","description":"Admin endpoints for managing categories"},{"name":"Admin Contact Settings","description":"Endpoints for admin to manage contact subjects and review messages"},{"name":"Admin Export","description":"Extracts database records into CSV offline formatting"},{"name":"Public Blog Subscription","description":"Endpoints for subscribing to new blog post updates"},{"name":"Admin Question","description":"Admin endpoints for managing questions"},{"name":"Answer (Public)","description":"Public endpoints for posting and viewing answers"},{"name":"Testimonials","description":"Public endpoints to submit and view testimonials"},{"name":"Public Blog","description":"Public endpoints for listing, searching, and viewing blogs"},{"name":"Public Demo","description":"Endpoints for public demo scheduling and OTP"},{"name":"Authentication","description":"User login via email OTP"},{"name":"Question (Public)","description":"Public endpoints for retrieving questions"}],"paths":{"/api/admin/testimonials/{id}":{"put":{"tags":["Admin - Testimonials"],"summary":"Admin edits an existing Testimonial","operationId":"updateTestimonial","parameters":[{"name":"id","in":"path","description":"Testimonial ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitTestimonialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TestimonialResponse"}}}}}},"delete":{"tags":["Admin - Testimonials"],"summary":"Delete a testimonial","operationId":"delete","parameters":[{"name":"id","in":"path","description":"Testimonial ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/admin/teachers/{id}":{"get":{"tags":["Admin - Teachers"],"summary":"Get teacher by ID","operationId":"getTeacherById","parameters":[{"name":"id","in":"path","description":"Teacher ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherResponse"}}}}}},"put":{"tags":["Admin - Teachers"],"summary":"Update a teacher","operationId":"updateTeacher","parameters":[{"name":"id","in":"path","description":"Teacher ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTeacherRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherResponse"}}}}}},"delete":{"tags":["Admin - Teachers"],"summary":"Delete a teacher","operationId":"deleteTeacher","parameters":[{"name":"id","in":"path","description":"Teacher ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/admin/questions/{id}":{"put":{"tags":["Admin Question"],"summary":"Update an existing question","operationId":"updateQuestion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Admin Question"],"summary":"Delete a question","operationId":"deleteQuestion","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/admin/demo/schedule/{id}/cancel":{"put":{"tags":["Admin Demo Settings"],"summary":"Cancel a demo schedule with a reason","operationId":"cancelSchedule","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelDemoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScheduleDemoResponse"}}}}}}},"/api/admin/demo/schedule/{id}/approve":{"put":{"tags":["Admin Demo Settings"],"summary":"Approve a pending demo schedule","operationId":"approveSchedule","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScheduleDemoResponse"}}}}}}},"/api/admin/contact/messages/{id}/status":{"put":{"tags":["Admin Contact Settings"],"summary":"Update status of a contact message (e.g., READ or RESOLVED)","operationId":"updateMessageStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","required":true,"schema":{"type":"string","enum":["UNREAD","READ","RESOLVED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactMessageResponse"}}}}}}},"/api/admin/categories/{id}":{"put":{"tags":["Admin Category"],"summary":"Update an existing category","operationId":"updateCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Admin Category"],"summary":"Delete a category","operationId":"deleteCategory","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/admin/api/comments/{id}":{"put":{"tags":["Admin Comment Moderation"],"summary":"Edit comment","description":"Edits the text content of a comment","operationId":"editComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogComment"}}}}}},"delete":{"tags":["Admin Comment Moderation"],"summary":"Delete comment","description":"Deletes any comment completely","operationId":"deleteComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/admin/api/blogs/{id}":{"get":{"tags":["Admin Blog Moderation"],"summary":"Get blog details by ID","description":"View full blog details including author email/mobile — admin only","operationId":"getBlogById","parameters":[{"name":"id","in":"path","description":"Blog ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogDetailResponse"}}}}}},"put":{"tags":["Admin Blog Moderation"],"summary":"Edit a blog","description":"Admin can edit blog content before or after publishing","operationId":"editBlog","parameters":[{"name":"id","in":"path","description":"Blog ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBlogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogDetailResponse"}}}}}},"delete":{"tags":["Admin Blog Moderation"],"summary":"Delete a blog","description":"Delete a blog by ID permanently.","operationId":"deleteBlog","parameters":[{"name":"id","in":"path","description":"Blog ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/public/demo/schedule":{"post":{"tags":["Public Demo"],"summary":"Submit demo schedule with OTP verification","operationId":"submitScheduleDemo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleDemoRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ScheduleDemoResponse"}}}}}}},"/api/public/demo/schedule/send-otp":{"post":{"tags":["Public Demo"],"summary":"Send OTP to user's email for demo scheduling","operationId":"sendOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/public/contact/message":{"post":{"tags":["Public Contact Us"],"summary":"Submit a contact us message (No OTP required)","operationId":"submitMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactMessageResponse"}}}}}}},"/api/blogs":{"get":{"tags":["Public Blog"],"summary":"Get published blogs","description":"Fetch published blogs with optional search, year/month filter, and sorting","operationId":"getPublishedBlogs","parameters":[{"name":"search","in":"query","description":"Search keyword (searches title + excerpt)","required":false,"schema":{"type":"string"}},{"name":"year","in":"query","description":"Filter by year (e.g., 2026)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","description":"Filter by month (1–12)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sort","in":"query","description":"Sort order: recent (default), popular, oldest, most_commented","required":false,"schema":{"type":"string","default":"recent"}},{"name":"page","in":"query","description":"Page number (0-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseBlogSummaryResponse"}}}}}},"post":{"tags":["Public Blog"],"summary":"Submit a blog post","description":"Users or educators can submit a blog post. It goes to PENDING status awaiting admin approval.","operationId":"submitBlog","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBlogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogDetailResponse"}}}}}}},"/api/blogs/{blogId}/reactions/toggle":{"post":{"tags":["Public Blog Interactions"],"summary":"Toggle reaction","description":"Toggle LIKE or DISLIKE for a visitor","operationId":"toggleReaction","parameters":[{"name":"blogId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ToggleReactionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReactionStatusResponse"}}}}}}},"/api/blogs/{blogId}/comments":{"get":{"tags":["Public Blog Interactions"],"summary":"Get comments","description":"Get paginated visible comments for a blog","operationId":"getComments","parameters":[{"name":"blogId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseBlogComment"}}}}}},"post":{"tags":["Public Blog Interactions"],"summary":"Post a comment","description":"Post a new comment on a blog","operationId":"postComment","parameters":[{"name":"blogId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/blogs/subscriptions/verify":{"post":{"tags":["Public Blog Subscription"],"summary":"Verify OTP and subscribe","description":"Verifies the OTP and activates the subscription","operationId":"subscribe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Verify"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/blogs/subscriptions/unsubscribe":{"post":{"tags":["Public Blog Subscription"],"summary":"Unsubscribe from blog updates","description":"Deactivates the subscription for the given email","operationId":"unsubscribe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Unsubscribe"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/blogs/subscriptions/request-otp":{"post":{"tags":["Public Blog Subscription"],"summary":"Request OTP for subscription","description":"Sends an OTP to the provided email address","operationId":"requestOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Start"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/blogs/submissions/verify":{"post":{"tags":["Public Blog Submission"],"summary":"Verify OTP","description":"Verifies the OTP sent to the author's email.","operationId":"verifySubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Verify"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/blogs/submissions/start":{"post":{"tags":["Public Blog Submission"],"summary":"Start submission","description":"Sends an OTP to the author's email to verify ownership before submission.","operationId":"startSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Start"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/blogs/submissions/finish":{"post":{"tags":["Public Blog Submission"],"summary":"Finish submission","description":"Creates the blog post in PENDING status. Requires email to be verified first.","operationId":"finishSubmission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBlogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogDetailResponse"}}}}}}},"/api/auth/verify":{"post":{"tags":["Authentication"],"summary":"Verify OTP — returns JWT token and user info","operationId":"verifyOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthVerifyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/api/auth/start":{"post":{"tags":["Authentication"],"summary":"Start login — sends OTP to the given email","operationId":"startLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthStartRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/auth/reset-password":{"post":{"tags":["Authentication"],"summary":"Reset user password using OTP","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/login-password":{"post":{"tags":["Authentication"],"summary":"Login with email and password","operationId":"loginWithPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserPasswordLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/auth/forgot-password":{"post":{"tags":["Authentication"],"summary":"Request OTP for user password reset","operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/answers":{"post":{"tags":["Answer (Public)"],"summary":"Submit a new answer (requires authentication, starts as PENDING)","operationId":"submitAnswer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnswerRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnswerResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/admin/testimonials":{"get":{"tags":["Admin - Testimonials"],"summary":"List all testimonials globally","description":"Admin dashboard list of all live testimonials","operationId":"getAllTestimonials","parameters":[{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseTestimonialResponse"}}}}}},"post":{"tags":["Admin - Testimonials"],"summary":"Admin creates a Testimonial","description":"Since public submissions are closed, Admins manually submit sourced testimonials here","operationId":"createTestimonial","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitTestimonialRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TestimonialResponse"}}}}}}},"/api/admin/testimonials/{id}/primary":{"post":{"tags":["Admin - Testimonials"],"summary":"Set testimonial as primary","description":"Marks this testimonial as the primary/featured one for its teacher. Only one primary per teacher — any existing primary is cleared.","operationId":"setPrimary","parameters":[{"name":"id","in":"path","description":"Testimonial ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TestimonialResponse"}}}}}}},"/api/admin/teachers":{"get":{"tags":["Admin - Teachers"],"summary":"List all teachers (paginated)","operationId":"getAllTeachers","parameters":[{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseTeacherResponse"}}}}}},"post":{"tags":["Admin - Teachers"],"summary":"Create a teacher","operationId":"createTeacher","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTeacherRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherResponse"}}}}}}},"/api/admin/questions":{"post":{"tags":["Admin Question"],"summary":"Create a new question","operationId":"createQuestion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QuestionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/admin/demo/settings/grades":{"post":{"tags":["Admin Demo Settings"],"summary":"Create a new grade offering","operationId":"createGrade","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGradeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GradeResponse"}}}}}}},"/api/admin/demo/settings/boards":{"post":{"tags":["Admin Demo Settings"],"summary":"Create a new board offering","operationId":"createBoard","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBoardRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BoardResponse"}}}}}}},"/api/admin/contact/subjects":{"post":{"tags":["Admin Contact Settings"],"summary":"Create a new contact subject for the dropdown","operationId":"createSubject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSubjectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubjectResponse"}}}}}}},"/api/admin/categories":{"get":{"tags":["Admin Category"],"summary":"List all categories (Admin view)","operationId":"getAllCategories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryResponse"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["Admin Category"],"summary":"Create a new category","operationId":"createCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/admin/auth/reset-password":{"post":{"tags":["Admin Authentication"],"summary":"Reset password using OTP","operationId":"resetPassword_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/auth/reset-password":{"post":{"tags":["Admin Authentication"],"summary":"Reset password using OTP","operationId":"resetPassword_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/auth/login-otp/verify":{"post":{"tags":["Admin Authentication"],"summary":"Verify OTP to login admin","operationId":"verifyLoginOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminVerifyOtpLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/auth/login-otp/verify":{"post":{"tags":["Admin Authentication"],"summary":"Verify OTP to login admin","operationId":"verifyLoginOtp_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminVerifyOtpLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/auth/login-otp/request":{"post":{"tags":["Admin Authentication"],"summary":"Request OTP for Admin passwordless login","operationId":"requestLoginOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminLoginOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/auth/login-otp/request":{"post":{"tags":["Admin Authentication"],"summary":"Request OTP for Admin passwordless login","operationId":"requestLoginOtp_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminLoginOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/auth/login":{"post":{"tags":["Admin Authentication"],"summary":"Admin login to receive JWT","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAuthRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/auth/login":{"post":{"tags":["Admin Authentication"],"summary":"Admin login to receive JWT","operationId":"login_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminAuthRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/auth/forgot-password":{"post":{"tags":["Admin Authentication"],"summary":"Request password reset OTP via email","operationId":"forgotPassword_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminForgotRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/admin/auth/forgot-password":{"post":{"tags":["Admin Authentication"],"summary":"Request password reset OTP via email","operationId":"forgotPassword_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminForgotRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/account/change-password":{"post":{"tags":["Account"],"summary":"Change password","description":"Allows logged-in users to change their password","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/admin/api/comments/{id}/approve":{"post":{"tags":["Admin Comment Moderation"],"summary":"Approve comment","description":"Approves a pending comment, making it visible to the public","operationId":"approveComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogComment"}}}}}}},"/admin/api/blogs/{id}/reject":{"post":{"tags":["Admin Blog Moderation"],"summary":"Reject a blog","description":"Reject a PENDING blog. Reason is required. Sends rejection email to author.","operationId":"rejectBlog","parameters":[{"name":"id","in":"path","description":"Blog ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectBlogRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogDetailResponse"}}}}}}},"/admin/api/blogs/{id}/approve":{"post":{"tags":["Admin Blog Moderation"],"summary":"Approve a blog","description":"Approve a PENDING blog. Sets status to PUBLISHED and sends notification email to author.","operationId":"approveBlog","parameters":[{"name":"id","in":"path","description":"Blog ID","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveBlogRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogDetailResponse"}}}}}}},"/api/admin/answers/{id}/reject":{"patch":{"tags":["Admin Answer"],"summary":"Reject an answer","operationId":"rejectAnswer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"reason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnswerResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/admin/answers/{id}/approve":{"patch":{"tags":["Admin Answer"],"summary":"Approve an answer","operationId":"approveAnswer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AnswerResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/testimonials":{"get":{"tags":["Testimonials"],"summary":"List all live testimonials","operationId":"getAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TestimonialResponse"}}}}}}}},"/api/testimonials/primary":{"get":{"tags":["Testimonials"],"summary":"Get primary/featured testimonials","description":"Returns testimonials marked as primary by admin — used for homepage showcase","operationId":"getPrimaryTestimonials","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TestimonialResponse"}}}}}}}},"/api/teachers":{"get":{"tags":["Teachers"],"summary":"List all active teachers","operationId":"getAllActiveTeachers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TeacherResponse"}}}}}}}},"/api/teachers/{id}":{"get":{"tags":["Teachers"],"summary":"Get teacher by ID","operationId":"getTeacherById_1","parameters":[{"name":"id","in":"path","description":"Teacher ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeacherResponse"}}}}}}},"/api/questions":{"get":{"tags":["Question (Public)"],"summary":"Get all questions with optional category filter","operationId":"getQuestions","parameters":[{"name":"categoryId","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageQuestionResponse"}}}}}}},"/api/questions/{id}":{"get":{"tags":["Question (Public)"],"summary":"Get a question by ID","operationId":"getQuestionById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}}}},"/api/questions/slug/{slug}":{"get":{"tags":["Question (Public)"],"summary":"Get a question by slug","operationId":"getQuestionBySlug","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QuestionResponse"}}}}}}},"/api/public/demo/settings/grades":{"get":{"tags":["Public Demo"],"summary":"Get all active grades for dropdown","operationId":"getAllGrades","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GradeResponse"}}}}}}}},"/api/public/demo/settings/boards":{"get":{"tags":["Public Demo"],"summary":"Get all active boards for dropdown","operationId":"getAllBoards","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BoardResponse"}}}}}}}},"/api/public/contact/subjects":{"get":{"tags":["Public Contact Us"],"summary":"Get all active subjects for the contact dropdown","operationId":"getAllSubjects","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SubjectResponse"}}}}}}}},"/api/media/signature":{"get":{"tags":["Media Upload"],"summary":"Get secure Cloudinary upload signature","description":"Returns a cryptographically signed ticket allowing the frontend to upload a massive video/image directly to Cloudinary without consuming server bandwidth. Requires a valid JWT User/Admin token.","operationId":"getSignature","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/categories":{"get":{"tags":["Category (Public)"],"summary":"Get all categories","operationId":"getAllCategories_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}}},"/api/categories/{id}":{"get":{"tags":["Category (Public)"],"summary":"Get category by ID","operationId":"getCategoryById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"/api/categories/slug/{slug}":{"get":{"tags":["Category (Public)"],"summary":"Get category by slug","operationId":"getCategoryBySlug","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"/api/blogs/{slug}":{"get":{"tags":["Public Blog"],"summary":"Get blog by slug","description":"Fetch full blog detail by its URL-friendly slug","operationId":"getBlogBySlug","parameters":[{"name":"slug","in":"path","description":"Blog slug","required":true,"schema":{"type":"string"},"example":"how-to-prepare-for-igcse-physics"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BlogDetailResponse"}}}}}}},"/api/blogs/{blogId}/reactions/status":{"get":{"tags":["Public Blog Interactions"],"summary":"Get reaction status","description":"Get current reaction state for a visitor","operationId":"getReactionStatus","parameters":[{"name":"blogId","in":"path","required":true,"schema":{"type":"string"}},{"name":"visitorKey","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReactionStatusResponse"}}}}}}},"/api/blogs/archive":{"get":{"tags":["Public Blog"],"summary":"Get archive index","description":"Returns year → month breakdown with blog counts for the sidebar archive index","operationId":"getArchive","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ArchiveResponse"}}}}}}}},"/api/answers/question/{questionId}":{"get":{"tags":["Answer (Public)"],"summary":"Get all approved answers for a specific question","operationId":"getApprovedAnswers","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AnswerResponse"}}}}}}}},"/api/admin/export/testimonials":{"get":{"tags":["Admin Export"],"summary":"Export all testimonials to CSV","description":"Downloads a spreadsheet containing all testimonials. Notice how the CSV logic is entirely decoupled from the entity.","operationId":"exportTestimonialsToCsv","responses":{"200":{"description":"OK"}}}},"/api/admin/demo/schedule":{"get":{"tags":["Admin Demo Settings"],"summary":"Get list of demo schedules with optional filters","operationId":"getSchedules","parameters":[{"name":"date","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","APPROVED","CANCELLED"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageScheduleDemoResponse"}}}}}}},"/api/admin/contact/messages":{"get":{"tags":["Admin Contact Settings"],"summary":"View paginated and filtered contact messages","operationId":"getMessages","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["UNREAD","READ","RESOLVED"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDir","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageContactMessageResponse"}}}}}}},"/api/admin/answers":{"get":{"tags":["Admin Answer"],"summary":"List all answers with optional filtering by status/questionId","operationId":"getAllAnswers","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","APPROVED","REJECTED"]}},{"name":"questionId","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sort","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAnswerResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/api/account/me":{"get":{"tags":["Account"],"summary":"Get my profile","description":"Returns the authenticated user's profile info","operationId":"getMyProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserInfo"}}}}}}},"/admin/api/comments/pending":{"get":{"tags":["Admin Comment Moderation"],"summary":"Get pending comments","description":"List all comments waiting for admin approval","operationId":"getPendingComments","parameters":[{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseBlogComment"}}}}}}},"/admin/api/comments/all":{"get":{"tags":["Admin Comment Moderation"],"summary":"Get all comments","description":"List all comments regardless of status","operationId":"getAllComments","parameters":[{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseBlogComment"}}}}}}},"/admin/api/blogs":{"get":{"tags":["Admin Blog Moderation"],"summary":"Get blogs by status","description":"List blogs filtered by status (PENDING, PUBLISHED, REJECTED, DRAFT). If no status is provided, returns all blogs.","operationId":"getAdminBlogs","parameters":[{"name":"status","in":"query","description":"Filter by status: PENDING, PUBLISHED, REJECTED, DRAFT","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseBlogDetailResponse"}}}}}}},"/api/admin/demo/settings/grades/{id}":{"delete":{"tags":["Admin Demo Settings"],"summary":"Delete an existing grade offering","operationId":"deleteGrade","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/admin/demo/settings/boards/{id}":{"delete":{"tags":["Admin Demo Settings"],"summary":"Delete an existing board offering","operationId":"deleteBoard","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/admin/contact/subjects/{id}":{"delete":{"tags":["Admin Contact Settings"],"summary":"Delete a contact subject","operationId":"deleteSubject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/admin/contact/messages/{id}":{"delete":{"tags":["Admin Contact Settings"],"summary":"Delete an old contact message permanently","operationId":"deleteMessage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/admin/answers/{id}":{"delete":{"tags":["Admin Answer"],"summary":"Delete an answer","operationId":"deleteAnswer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"SubmitTestimonialRequest":{"type":"object","properties":{"text":{"type":"string"},"mediaUrl":{"type":"string"}},"required":["mediaUrl","text"]},"TestimonialResponse":{"type":"object","properties":{"id":{"type":"string"},"text":{"type":"string"},"mediaUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"primary":{"type":"boolean"}}},"UpdateTeacherRequest":{"type":"object","properties":{"fullName":{"type":"string"},"mainSubject":{"type":"string"},"speciality":{"type":"string"},"bio":{"type":"string"},"category":{"type":"string"},"photoUrl":{"type":"string"},"isActive":{"type":"boolean"}}},"TeacherResponse":{"type":"object","properties":{"id":{"type":"string"},"fullName":{"type":"string"},"mainSubject":{"type":"string"},"speciality":{"type":"string"},"bio":{"type":"string"},"category":{"type":"string"},"photoUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"active":{"type":"boolean"}}},"QuestionRequest":{"type":"object","properties":{"title":{"type":"string"},"descriptionHtml":{"type":"string"},"categoryId":{"type":"string"}},"required":["categoryId","descriptionHtml","title"]},"CategoryResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"QuestionResponse":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"slug":{"type":"string"},"descriptionHtml":{"type":"string"},"category":{"$ref":"#/components/schemas/CategoryResponse"},"adminId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CancelDemoRequest":{"type":"object","properties":{"cancelReason":{"type":"string"}},"required":["cancelReason"]},"BoardResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"GradeResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"ScheduleDemoResponse":{"type":"object","properties":{"id":{"type":"string"},"studentName":{"type":"string"},"parentName":{"type":"string"},"emailId":{"type":"string"},"mobileNumber":{"type":"string"},"boardId":{"type":"string"},"board":{"$ref":"#/components/schemas/BoardResponse"},"gradeId":{"type":"string"},"grade":{"$ref":"#/components/schemas/GradeResponse"},"preferredDate":{"type":"string","format":"date"},"preferredTime":{"type":"string"},"status":{"type":"string","enum":["PENDING","APPROVED","CANCELLED"]},"cancelReason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ContactMessageResponse":{"type":"object","properties":{"id":{"type":"string"},"fullName":{"type":"string"},"phoneNumber":{"type":"string"},"emailAddress":{"type":"string"},"subjectId":{"type":"string"},"subject":{"$ref":"#/components/schemas/SubjectResponse"},"messageText":{"type":"string"},"status":{"type":"string","enum":["UNREAD","READ","RESOLVED"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"SubjectResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"CategoryRequest":{"type":"object","properties":{"name":{"type":"string"}},"required":["name"]},"BlogComment":{"type":"object","properties":{"id":{"type":"string"},"blogId":{"type":"string"},"name":{"type":"string"},"commentText":{"type":"string"},"status":{"type":"string"},"ipAddress":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"CreateBlogRequest":{"type":"object","description":"Request body for creating a blog post","properties":{"title":{"type":"string","description":"Blog title","example":"How to Prepare for IGCSE Physics","maxLength":200,"minLength":0},"excerpt":{"type":"string","description":"Short summary/excerpt of the blog","example":"A comprehensive guide to acing IGCSE Physics exams","maxLength":500,"minLength":0},"contentHtml":{"type":"string","description":"Blog content in HTML format","example":"<p>This is a guide...</p>"},"contentJson":{"type":"string","description":"Blog content in JSON format (optional, for editors like TipTap)","example":{"type":"doc","content":[{"type":"paragraph"}]}},"featuredImageUrl":{"type":"string","description":"URL of the featured image","example":"https://example.com/images/physics.jpg"},"tags":{"type":"array","description":"Tags for the blog","example":["physics","igcse","exam-prep"],"items":{"type":"string"}},"authorName":{"type":"string","description":"Name of the blog author","example":"Jane Doe"},"authorEmail":{"type":"string","description":"Email of the blog author","example":"jane@example.com"},"authorMobile":{"type":"string","description":"Mobile number of the blog author","example":1234567890}},"required":["authorEmail","authorName","contentHtml","title"]},"BlogDetailResponse":{"type":"object","description":"Full detail view of a blog post","properties":{"id":{"type":"string","description":"Blog ID","example":"60f1b2b3b3b3b3b3b3b3b3b3"},"title":{"type":"string","description":"Blog title","example":"How to Prepare for IGCSE Physics"},"slug":{"type":"string","description":"URL-friendly slug","example":"how-to-prepare-for-igcse-physics"},"excerpt":{"type":"string","description":"Short excerpt","example":"A comprehensive guide to acing IGCSE Physics exams"},"contentHtml":{"type":"string","description":"Sanitized HTML content"},"contentJson":{"type":"string","description":"JSON content (if available)"},"featuredImageUrl":{"type":"string","description":"Featured image URL","example":"https://example.com/images/physics.jpg"},"authorName":{"type":"string","description":"Author name","example":"Jane Doe"},"authorEmail":{"type":"string","description":"Author email","example":"jane@example.com"},"status":{"type":"string","description":"Blog status","enum":["DRAFT","PENDING","PUBLISHED","REJECTED"],"example":"PUBLISHED"},"submittedAt":{"type":"string","format":"date-time","description":"Submitted date"},"publishedAt":{"type":"string","format":"date-time","description":"Published date"},"rejectionReason":{"type":"string","description":"Rejection reason (if rejected)"},"tags":{"type":"array","description":"Tags","example":["physics","igcse"],"items":{"type":"string"}},"likesCount":{"type":"integer","format":"int64","description":"Total likes","example":42},"dislikesCount":{"type":"integer","format":"int64","description":"Total dislikes","example":2},"commentsCount":{"type":"integer","format":"int64","description":"Total comments","example":5},"viewsCount":{"type":"integer","format":"int64","description":"Total views","example":1050},"createdAt":{"type":"string","format":"date-time","description":"Created date"}}},"ScheduleDemoRequest":{"type":"object","properties":{"studentName":{"type":"string","description":"Full name of the student","example":"John Doe"},"parentName":{"type":"string","description":"Full name of the parent","example":"Jane Doe"},"emailId":{"type":"string","description":"Contact email address","example":"student@email.com"},"mobileNumber":{"type":"string","description":"Contact mobile number","example":"+91-8861919000"},"boardId":{"type":"string","description":"ID of the selected board","example":"60f1b2b3b3b3b3b3b3b3b3b3"},"gradeId":{"type":"string","description":"ID of the selected grade","example":"60f1b2b3b3b3b3b3b3b3b3b4"},"preferredDate":{"type":"string","format":"date","description":"Preferred date for the demo in YYYY-MM-DD format","example":"2026-04-15"},"preferredTime":{"type":"string","description":"Preferred time for the demo","example":"11:00 AM"},"otp":{"type":"string","description":"OTP sent to the email address","example":123456}},"required":["boardId","emailId","gradeId","mobileNumber","otp","parentName","preferredDate","preferredTime","studentName"]},"SendOtpRequest":{"type":"object","properties":{"email":{"type":"string","description":"Email address to send the OTP to","example":"student@email.com"}},"required":["email"]},"ContactMessageRequest":{"type":"object","properties":{"fullName":{"type":"string","description":"Full name of the sender","example":"John Doe"},"phoneNumber":{"type":"string","description":"Optional phone number","example":"+91-8861919000"},"emailAddress":{"type":"string","description":"Contact email address","example":"your.email@example.com"},"subjectId":{"type":"string","description":"ID of the selected subject","example":"60f1b2b3b3b3b3b3b3b3b3b5"},"messageText":{"type":"string","description":"The message body from the user","example":"I would like to know more about the IGCSE physics course."}},"required":["emailAddress","fullName","messageText","subjectId"]},"ToggleReactionRequest":{"type":"object","description":"Request to toggle a LIKE or DISLIKE reaction on a blog","properties":{"visitorKey":{"type":"string","description":"Unique anonymous identifier from frontend local storage"},"reactionType":{"type":"string","enum":["LIKE","DISLIKE"]}},"required":["reactionType","visitorKey"]},"ReactionStatusResponse":{"type":"object","properties":{"userReaction":{"type":"string","enum":["LIKE","DISLIKE"]},"likesCount":{"type":"integer","format":"int64"},"dislikesCount":{"type":"integer","format":"int64"}}},"PostCommentRequest":{"type":"object","description":"Request to post a new comment on a blog","properties":{"name":{"type":"string","example":"John Doe"},"commentText":{"type":"string","example":"Great article!"}},"required":["commentText","name"]},"Verify":{"type":"object","description":"Request to verify OTP for blog subscription","properties":{"email":{"type":"string","example":"jane@example.com"},"otp":{"type":"string","example":123456}},"required":["email","otp"]},"Unsubscribe":{"type":"object","description":"Request to unsubscribe from blog updates","properties":{"email":{"type":"string","example":"jane@example.com"}},"required":["email"]},"Start":{"type":"object","description":"Request to start blog subscription via OTP","properties":{"email":{"type":"string","example":"jane@example.com"}},"required":["email"]},"AuthVerifyRequest":{"type":"object","description":"Request to verify OTP and receive a JWT token","properties":{"email":{"type":"string","example":"reader@example.com"},"otp":{"type":"string","example":482910},"name":{"type":"string","description":"Optional name for new users","example":"Rohit Gupta"},"mobile":{"type":"string","description":"Optional mobile number","example":"+919876543210"}},"required":["email","otp"]},"AuthResponse":{"type":"object","description":"Response after successful OTP verification — contains the JWT and user info","properties":{"token":{"type":"string","example":"eyJhbGciOiJIUzI1NiJ9..."},"tokenType":{"type":"string","example":"Bearer"},"user":{"$ref":"#/components/schemas/UserInfo"}}},"UserInfo":{"type":"object","properties":{"id":{"type":"string","example":"6613f7a2b1d4c20e9a3b5c7d"},"email":{"type":"string","example":"reader@example.com"},"name":{"type":"string","example":"Rohit Gupta"},"emailVerified":{"type":"boolean","example":true}}},"AuthStartRequest":{"type":"object","description":"Request to start login by sending an OTP to the user's email","properties":{"email":{"type":"string","example":"reader@example.com"},"resend":{"type":"boolean"}},"required":["email"]},"UserResetPasswordRequest":{"type":"object","properties":{"email":{"type":"string"},"otp":{"type":"string"},"newPassword":{"type":"string"}},"required":["email","newPassword","otp"]},"UserPasswordLoginRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}},"required":["email","password"]},"UserForgotPasswordRequest":{"type":"object","properties":{"email":{"type":"string"}},"required":["email"]},"AnswerRequest":{"type":"object","properties":{"questionId":{"type":"string"},"contentHtml":{"type":"string"}},"required":["contentHtml","questionId"]},"AnswerResponse":{"type":"object","properties":{"id":{"type":"string"},"questionId":{"type":"string"},"userId":{"type":"string"},"authorName":{"type":"string"},"contentHtml":{"type":"string"},"status":{"type":"string","enum":["PENDING","APPROVED","REJECTED"]},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"CreateTeacherRequest":{"type":"object","properties":{"fullName":{"type":"string"},"mainSubject":{"type":"string"},"speciality":{"type":"string"},"bio":{"type":"string"},"category":{"type":"string"},"photoUrl":{"type":"string"}},"required":["fullName"]},"CreateGradeRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the grade","example":"Grade 9"}},"required":["name"]},"CreateBoardRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the board","example":"IGCSE"}},"required":["name"]},"CreateSubjectRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the topic/subject","example":"Course Inquiry"}},"required":["name"]},"AdminResetPasswordRequest":{"type":"object","properties":{"email":{"type":"string"},"otp":{"type":"string"},"newPassword":{"type":"string","maxLength":2147483647,"minLength":6}},"required":["email","newPassword","otp"]},"AdminVerifyOtpLoginRequest":{"type":"object","description":"Request to verify OTP for Admin login","properties":{"email":{"type":"string","example":"admin@astarclasses.com"},"otp":{"type":"string"}},"required":["email","otp"]},"AdminLoginOtpRequest":{"type":"object","description":"Request to send OTP for Admin login","properties":{"email":{"type":"string","example":"admin@astarclasses.com"}},"required":["email"]},"AdminAuthRequest":{"type":"object","properties":{"email":{"type":"string"},"password":{"type":"string"}},"required":["email","password"]},"AdminForgotRequest":{"type":"object","properties":{"email":{"type":"string"}},"required":["email"]},"UserChangePasswordRequest":{"type":"object","properties":{"oldPassword":{"type":"string"},"newPassword":{"type":"string"}},"required":["newPassword"]},"RejectBlogRequest":{"type":"object","description":"Request body for rejecting a blog post","properties":{"reason":{"type":"string","description":"Reason why the blog post was rejected","example":"The content does not meet our styling guidelines."}},"required":["reason"]},"ApproveBlogRequest":{"type":"object","description":"Optional request body for approving a blog post","properties":{"adminId":{"type":"string","description":"ID of the admin making the approval. Defaults to system admin if not provided.","example":"admin_user_123"}}},"PageQuestionResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/QuestionResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"empty":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"BlogSummaryResponse":{"type":"object","description":"Summary view of a blog post (for listing pages)","properties":{"id":{"type":"string","description":"Blog ID","example":"60f1b2b3b3b3b3b3b3b3b3b3"},"title":{"type":"string","description":"Blog title","example":"How to Prepare for IGCSE Physics"},"slug":{"type":"string","description":"URL-friendly slug","example":"how-to-prepare-for-igcse-physics"},"excerpt":{"type":"string","description":"Short excerpt","example":"A comprehensive guide to acing IGCSE Physics exams"},"featuredImageUrl":{"type":"string","description":"Featured image URL","example":"https://example.com/images/physics.jpg"},"authorName":{"type":"string","description":"Author name","example":"Jane Doe"},"status":{"type":"string","description":"Blog status","enum":["DRAFT","PENDING","PUBLISHED","REJECTED"],"example":"PUBLISHED"},"publishedAt":{"type":"string","format":"date-time","description":"Published date"},"tags":{"type":"array","description":"Tags","example":["physics","igcse"],"items":{"type":"string"}},"likesCount":{"type":"integer","format":"int64","description":"Total likes","example":42},"dislikesCount":{"type":"integer","format":"int64","description":"Total dislikes","example":2},"commentsCount":{"type":"integer","format":"int64","description":"Total comments","example":5},"viewsCount":{"type":"integer","format":"int64","description":"Total views","example":1050}}},"PageResponseBlogSummaryResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/BlogSummaryResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"PageResponseBlogComment":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/BlogComment"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"ArchiveResponse":{"type":"object","description":"Archive index — year/month breakdown with blog counts","properties":{"year":{"type":"integer","format":"int32","description":"Year","example":2026},"months":{"type":"array","description":"Monthly breakdown for this year","items":{"$ref":"#/components/schemas/MonthCount"}}}},"MonthCount":{"type":"object","properties":{"month":{"type":"integer","format":"int32","description":"Month number (1–12)","example":4},"count":{"type":"integer","format":"int64","description":"Number of published blogs in this month","example":12}}},"PageResponseTestimonialResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TestimonialResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"PageResponseTeacherResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/TeacherResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}},"PageScheduleDemoResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ScheduleDemoResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageContactMessageResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ContactMessageResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageAnswerResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"first":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AnswerResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageResponseBlogDetailResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/BlogDetailResponse"}},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"}}}},"securitySchemes":{"BearerAuth":{"type":"http","name":"BearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}